.bor_top_0 {
  border-top-width: 0;
}

.bor_lr_0 {
  border-right-width: 0;
  border-left-width: 0;
}

.bor_bottom_0 {
  border-bottom-width: 0;
}

.flex_row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.flex_row_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

