.mkp__logo {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 13%;
  /* background-color: #001C35; */
}

.mkp__line {

  width: 100%;
  height: 4px;
  background-color: #E6F1F6;
}

.mkp__circle {
  position: absolute;
  width: 276px;
  height: 276px;
  border-radius: 276px;
  background-color: #001C35;
  border: 4px solid #E6F1F6;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.mkp__img {
  object-fit: contain;
  width: 200px;
  margin: 0 auto;
}

.mkp__title_h1 {
  margin-left: 38%;
  position: absolute;
  top: -130px;
  font-size: 80px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 4px;
  color: rgba(20, 15, 246, 0.94);
}

.mkp__nav {
  position: absolute;
  top: 50px;
  right: 18%;
}

.mkp__nav_item {
  margin: 0 20px;
  width: 200px;
  height: 40px;
  background-color: #000;
  text-align: center;
  border: 2px #fff solid;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 0 #3B6A7E;
}

.mkp__container {
  margin-top: 16%;
}

.mkp__abt {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 20px auto 0;  
  border: 2px solid red;
  border-bottom: none;
}

.mkp__abt_website {
  text-align: center;
}

.mkp__abt_line {
  width: 63px;
  height: 2px;
  background-color: red;
}

.mkp__abt_decors {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.remove_border {
  border: 0;
}

.padding_left_0 {
  padding: 50px 0 50px 0;
}

.badge_style {
  width: 180px;
  height: 30px;
}

.prog_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prog_dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.font_12 {
  font-size: 12px;
}

.alg_item_cen {
  align-items: center;
}

.change_button {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 18px;
  background-color: #fff;
  border: 2px solid #71B7EA;
  border-radius: 4px;
  display: inline-block;
}