.product_similar__item {
  width: 263px;
  height: 350px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-right: 24.5px;
}

.product_similar__item_image {
  width: 263px;
}

.product_similar__item_image__item {
  width: 100%;
}

.product_similar__item_name {
  margin: 10px;
  margin-left: 30px;
  font-size: 20px;
  color: #0038FF;
  font-weight: bold;
}

.product_similar__item_state {
  margin: 10px;
  margin-left: 30px;
}

.product_similar__item_price {
  margin: 10px;
  margin-left: 30px;
  font-size: 24px;
  color: #FF0000;
  font-weight: bold;
}
