.footer-bg {
    background-color: #00425F;
    font-size: 20px;
    color: #FFF;
    padding-bottom: 20px;
}

.logo {
    position: relative;
    left: 5rem;
    top: 2rem;
    font-weight: bold;
    color: #00C2FF;
    font-size: 24px;
    max-width: 100vh;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 2rem;
    background-color: transparent;
    text-align: center;
}

.others {
    display: flex;
    flex-direction: column;
}

.others a {
    color: #FFF;
    text-decoration: none;
}

.others a:hover {
    text-decoration: underline;
    color: #00C2FF;
}