
.product_management {
  height: 100vh;
  position: relative;
}

.product_management_create {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(91, 91, 91, 0.5);
  z-index: 1;
}

.product_management_create > form {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  background-color: #001C35;
  padding: 50px 100px;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
}

.product_management_create > form > h2 {
  margin-bottom: 20px;
}

.product_management_create > form > div > label {
  margin-right: 10px;
}

.product_management_create > form > div > input {
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: rgb(164, 202, 253);
  color: #000;
  border-radius: 10px;
}

.product_management_create > form > div > input[type="file"] {
  background-color: transparent;
  color: #Fff;
}

.product_management_create__img {
  height: 150px;
}

.product_management > button {
  margin: 100px 50% 0;
  width: 200px;
  float: center;
  background-color: rgb(128, 0, 248);
  color: #fff;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1;
}

.product_management > button:hover {
  background-color: rgb(157, 60, 249);
  cursor: pointer;
}

.product_management > table {
  margin: 100px auto 200px; 
  width: 80%;
  background-color: rgb(85, 72, 233);
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product_management > table > thead > tr {
  padding-left: 50px;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

.product_management > table > tbody > tr {
  text-align: center;
  color: #fff;
} 