.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgba(2, 54, 54),
    rgba(1, 20, 36),
    rgba(0, 38, 73)
  );
  min-height: 550px;
}

.intro {
  height: 100%;
  margin: auto;
}

.intro h1 {
  padding: 0 5rem;
  text-align: left;
  color: white;
}

.intro p {
  font-size: 20px;
  padding: 0 5rem;
  color: white;
}

.intro a {
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  color: black;
  width: 170px;
  padding: 10px;
  font-weight: bold;
  border-radius: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1.5px #FFF solid;
  background: linear-gradient(to right, rgba(149, 255, 204, 72%), rgba(0, 200, 164, 67%));
}

.intro a:hover {
  background: rgba(0, 94, 76, 0.67);
  color: #FFF;
}

.img-container {
  margin: auto;
}

.image {
  min-height: 550px;
  opacity: 0.4;
}
