.container {
  background-color: #001c35;
  padding: 20px 0px;
}

.vertical-line {
  display: block;
  margin: auto;
  width: 2px;
  height: 50px;
  background-color: #faff00;
  margin-bottom: 1rem;
}

.container h2 {
  color: #faff00;
  font-weight: bold;
  text-align: center;
}

.step {
  background-color: #012641;
  clip-path: polygon(0% 0%, 80% 0, 100% 50%, 80% 99%, 0% 100%);
  min-height: 700px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.caption h4 {
  margin-top: 30px;
}

.container h3 {
  display: block;
  color: #fff;
  margin: auto;
  font-size: 50px;
  padding: 10px;
  border: 1px solid #fff;
}

.image-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 4rem;
  width: 70vw;
  flex-wrap: wrap;
}

.img {
  margin: 1rem 1.5rem 0rem 0rem;
  max-width: 25%;
}
