.table {
    font-size: 20px;
    max-width: 95vw;
    margin: auto;
}

.description {
  	text-overflow: ellipsis;
      width: 400px;
}


.buttons {
    display: flex;
    justify-content: space-evenly;

}

.buttons .edit, .buttons .delete {
    border: none;
    background-color: transparent;
}

.buttons .edit:hover, .buttons .delete:hover {
    transform: scale(1.5);
    transition: ease-in-out;
}

.buttons .delete {
    color: red;
}