.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  font-size: 20px;
}

.search-input {
  padding: 5px 1rem;
  border-radius: 18px;
  min-width: 40vw;
}

.button {
  border: none;
  position: relative;
  left: -3rem;
  background-color: transparent;
}
