.card_style {
  flex-direction: row;
  background-color: #fff;
  margin: 10px 0;
  border-radius: 10px;
  padding: 2%;
}

.img_width {
  width: 100%;
}

.col_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text_center {
  text-align: center;
}

.color_2 {
  color: red;
}

.font_20 {
  font-size: 20px;
}

.pro__img_wrap {
  position: relative;  
  width: 100%;
}

.cart_icon {
  font-size: 30px;
}

.cart_icon:hover {
  cursor: pointer;
}

.flex_between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}