
.product_detail {
  background-color: #001C35;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 50px;
}

.product_detail__nav {
  border-bottom: 1px solid #fff;
  max-width: 390px;
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.product_detail__wrapper {
  display: flex;
}

.product_detail__wrapper__img {
  width: 560px;
  border: 1px solid #fff;
}

.product_detail__wrapper_info {
  margin: 0 50px;
  width: 100%;
  font-size: 24px;
  color: #fff;
}

.product_detail__wrapper_info_name {
  width: 100%;
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FF640D;
  margin: 10px 0;
}

.product_detail__wrapper_info_release {
  margin: 10px 0;

}

.product_detail__wrapper_info_price {
  margin: 10px 0;

}

.product_detail__wrapper_info_price__color {
  color: #FF640D;
  font-weight: bold;
}

.product_detail__wrapper_info_quantity {
  margin: 10px 0;

}

.product_detail__wrapper_info_quantity__number {
  border: 1px solid #FF640D;
  padding: 5px 10px;
}

.product_detail__wrapper_info_button {
  margin: 50px 0;
}

.product_detail__wrapper_info_button__addCart {
  width: 263px;
  height: 73px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  border: none;
  outline: none;
  background-color: #139CFF;
  border-radius: 5px;
}

.product_detail__wrapper_info_button__sendGift {
  width: 263px;
  height: 73px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  border: none;
  outline: none;
  background-color: #FF0000;
  border-radius: 5px;
}

.product_detail_desc {
  margin: 50px auto;
  max-width: 1215px;
}

.product_detail_desc__title {
  width: 533px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  margin: 30px auto;
  font-weight: bold;
  padding-top: 20px;
  border-top: 1px solid #FFF617;
}

.product_detail_desc__content {
  font-size: 24px;
  color: #fff;
  text-align: justify;
  margin-bottom: 50px;
}

.product_detail__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
}

.product_detail__more {
  overflow-x: hidden;
  width: 1150px;
}

.product_detail__more_list {
  position: relative;
  list-style-type: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: ease 1s;
  padding-left: 0;
  margin-left: 12.25px;
}

.product_detail__icon {
  font-size: 45px;
  color: #fff;
}