.container {
    margin-bottom: 3rem;
}
.container h3 {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 10rem;
}

.content .item {
    list-style: none;
    background-color: #433AAE;
    padding: 2.5rem;
    font-size: 18px;
    border: 1px #FFF solid;
    border-radius: 16px;
}

.item:hover {
    background-color: #241d70;
    
}

.item a {
    text-decoration: none;
    color: #FFF;
}