.container {
  background-color: #001c35;
  padding: 20px 60px;
}

.vertical-line {
  display: block;
  margin: auto;
  width: 2px;
  height: 50px;
  background-color: #faff00;
  margin-bottom: 10px;
}

.container h2 {
  color: #faff00;
  font-weight: bold;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: roww;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.intro .icon {
  font-weight: bold;
  color: #00c2ff;
}

.intro p {
  font-size: 20px;
  padding-top: 2rem;
  padding-right: 3rem;

  color: #fff;
}

.intro img {
  max-width: 300px;
}
