.nav-bg {
    background-color: #00425F;
    
}
.brand-name {
    font-size: 1.5rem;
    color: #00C2FF !important;
    padding-left: 50px;
    font-weight: bold;
    margin: auto;
}

.nav {
    width: 100%;
    font-size: 1.2rem;
}

.nav a:hover {
    color:#ffa44f !important;
    border-bottom: 3px solid #FFF;
}

.cart {
    background-color: white;
    color: black !important;
    border-radius: 16px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-weight: var(--bs-body-font-weight);
}

.cart:hover {
    background-color: #002231;
    border-bottom: none !important;
}

.countItem {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FCE625;
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
}