.nav-bg {
    background-color: #00425F;
    
}

.brand-name {
    font-size: 1.5rem;
    color: #00C2FF !important;
    padding-left: 50px;
    font-weight: bold;
}

.nav {
    position: relative;
}

.header {
    font-size: 2rem;
    color: #FFF !important;
    font-weight: bold;
    
}
