.searchbar {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.search-input {
    padding: 3px;
    padding-left: 10px;
    padding-right: 35px;
    background-color: transparent;
    border: 2px solid #C75F00;
    border-radius: 16px;
    color: #D4D4D4;
}

.search-input:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 129, 26) !important;
}

.search-icon {
    position: relative;
    color: #C75F00;
    left: -2rem;
    margin: auto;
}

.search-icon:hover {
    border: none !important;
}

.filter button {
    background-color: #C75F00 !important;
    border-color: #C75F00 !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    border-radius: 16px !important;
}

.filter .filter-item a {
    text-decoration: none;
    color: #000;
    width: 158px;
}

.filter .filter-item a:hover {
    border: none !important;
}

.filter .filter-item:hover {
    border: none !important;
    background-color: #e06f05 !important;
    color: #FFF !important;
    text-decoration: none;
    outline: none;
}

.filter button:hover, .filter button:active, .filter button:checked, .filter button:focus  {
    background-color: #C75F00 !important;
    box-shadow: 0 0 0 0.1rem rgb(255, 129, 26) !important;
}

